.table_container{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.table {
    flex: 1;
    overflow: auto;
    width: 100%;
    margin: 0 !important;
}
.table_has_footer {
    border-bottom: none !important;
    border-top: none !important;
}
.body {
    flex: 1;
    overflow: auto;
}
.header {
    position: sticky;
    top: 0;
    z-index: 100;
    th {
        border-top: 1px solid rgba(34, 36, 38, 0.1) !important;

    }
}
.footer {
    position: sticky;
    bottom: -1px;
    th {
        border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;

    }
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}