/**********************padding****************************/
.padding_tb_mini {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
}
.padding_tb_tiny {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
}
.padding_tb_small {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}
.padding_tb_medium {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}
.padding_tb_large{
    padding-top: 1.0rem !important;
    padding-bottom: 1.0rem !important;
}
.padding_tb_big {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
}
.padding_tb_huge {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.padding_tb_massive {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}